* {
	margin:0 auto;
	padding:0;
	indent:0;
	outline:0;
	border:0;
	text-decoration: none;
	font-family: $main-fonts;
	color: $main-font-color;
	box-sizing: border-box;
}

a{
	color: $main-links-color;
}
.row {
	clear: both;
}
.column-4{
	width:25%;
	float:left;
}
