
$main-fonts: Helvetica, arial, sans-serif;
$main-line-height: 24px;
$layout-size: 960px;

$main-font-color: #7D7873;
//$highligth-box-color:#F8F8F8;
$highligth-box-color:#ccc;
$main-h2-color:#7D7873;
$main-h3-color:#FDB933;
$main-links-color:#359C9C;
$main-links-local:$main-font-color;
$divisor-color: #CBCBCB;
